.container-wrapper {
    max-width: 600px;
    margin: 0 auto;
}
.title-wrapper {
    background-color: dimgray;
    height: 10em;
}
p {
    color: #a6a28c;
    font-size: 1.2em;
    font-family:'Times New Roman', Times, serif;
}
a {
    color: white;
}
body {
    padding-left: 1em;
    padding-right: 1em;
}