<!doctype html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/index_2.css">

  <link rel="shortcut icon" href="/static/img/favicon.ico" />

  <title>南七夜谈会</title>
</head>

<body class="bg-dark">

  <article class="container-wrapper">
    <div class="jumbotron jumbotron-fluid title-wrapper">
      <div class="container" style="text-align: center;">
        <h1 class="display-4" style="font-weight:bold; color:aliceblue">Nanqi Night Talk</h1>
      </div>
    </div>

    <div>
      <p>
        你好，我的朋友，欢迎来到南七夜话室，希望给你留下一段虚幻而奇异的回忆。就像人来人往的十字路口，遇到陌生人打个招呼、聊上两句，不论过往，不问将来。所以有时候我在想要不把名字改成<strong>南七十字街</strong>。
      </p>
      <p>
        这是心血来潮花了几小时做出的小玩意儿，也能利用起来我闲置的服务器。在这里你可以畅所欲言，希望你能喜欢。受到了 <a href="https://hack.chat/"
          target="_blank">hack.chat</a>
        的启发，但因为我不喜欢node.js，所以我重写了后台，只参考了部分界面布局。
      </p>
      <p>
          <strong>完全匿名隐私。</strong>服务器只是做信息转发，不会保留任何信息，<a href="https://github.com/VincentJYZhang/nanqi_chat" target="_blank">完全开源</a>。夜谈嘛，仅限今夜，退出清零，珍惜当下，感谢相遇。
      </p>
      <p>
        <strong>自建聊天室。</strong>通过网址后面加上 /room/room_name 就可以进入相应的聊天室，room_name自己更改，大家也可以访问默认的公共聊天室：
      </p>
      <p>
        <a class="room-a" href="/room/public_moyu_room?ref=home" target="_blank">public_moyu_room</a>
      </p>

      <p>
        最后，用我非常喜欢一句台词祝福偶然相遇的你：Good morning, and in case I don't see you, Good afternoon, Good evening, And good night.
      </p>
    </div>

  </article>

  <script src="/static/js/jquery.slim.min.js"></script>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/socket.io.js"></script>


</body>

</html>